# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-json
      - id: flake8
      - id: check-yaml
        # - repo: https://github.com/asottile/seed-isort-config
        #   rev: v1.9.3
        #   hooks:
        #     - id: seed-isort-config
  - repo: https://github.com/pre-commit/mirrors-isort
    rev: v4.3.21
    hooks:
      - id: isort
  - repo: https://github.com/psf/black
    rev: 19.10b0
    hooks:
      - id: black
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: "v0.740" # Use the sha / tag you want to point at
    hooks:
      - id: mypy
        additional_dependencies: [sqlalchemy-stubs]
